@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

:root {
    --background: #1d1f21;
    --current-line: #282a2e;
    --selection: #373b41;
    --foreground: #c5c8c6;
    --comment: #969896;
    --red: #cc6666;
    --orange: #de935f;
    --yellow: #f0c674;
    --green: #b5bd68;
    --aqua: #8abeb7;
    --blue: #81a2be;
    --purple: #b294bb;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#battles {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#battles #battle-list {
    overflow: auto;
    flex: 1;
}

#battles #battle-list .battle {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: var(--foreground);
    border-bottom: 1px solid var(--current-line);
    background: var(--background);
}

#battles #battle-list .battle:hover,
#battles #battle-list .battle.selected {
    background: var(--selection);
}

#battles #refresh {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
    color: var(--foreground);
    border: 1px solid var(--current-line);
    background: var(--background);
}

#battles #refresh:hover {
    background: var(--selection);
}

#data {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    overflow: auto;
    flex: 2;
    padding: 20px;
    white-space: pre-wrap;
    color: var(--foreground);
    background: var(--background);
}

#data .line.selected {
    background: var(--current-line);
}

#control {
    display: flex;
    flex: 3;
    flex-direction: column;
    background: var(--background);
}

#control #display {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    overflow: auto;
    flex: 1;
    padding: 20px;
    white-space: pre-wrap;
    color: var(--foreground);
}

#control #controls {
    display: flex;
    height: 50px;
}

#control #controls #back,
#control #controls #next {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    width: 50px;
    cursor: pointer;
    color: var(--foreground);
    border: 1px solid var(--current-line);
    background: var(--background);
}

#control #controls #back:hover,
#control #controls #next:hover {
    background: var(--selection);
}

#control #controls #back:disabled,
#control #controls #next:disabled {
    cursor: default;
    color: var(--current-line);
    background: var(--background);
}

#control #controls #line {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding: 10px;
    color: var(--foreground);
    background: var(--current-line);
}

.scrollable {
    scrollbar-color: var(--selection) var(--current-line);
    scrollbar-width: thin;
}
