.battle .content .log {
    flex: 1;
    border-right: 1px solid var(--current-line);
}

.battle .content .state {
    overflow: auto;
    flex: 1;
    white-space: pre-wrap;
    border-right: 1px solid var(--current-line);
}

.battle .content .context {
    overflow: auto;
    flex: 1;
    white-space: pre-wrap;
}
