.global .content #menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid var(--current-line);
}

.global .content #menu > * {
    height: 30px;
}

.global .content #menu #format {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    padding: 5px;
    color: var(--foreground);
    border: 1px solid var(--selection);
    background: var(--current-line);
}

.global .content #menu #battle {
    border-top: none;
}

.global .content #menu #challenger {
    height: 20px;
    margin-top: 20px;
    border: 1px solid var(--selection);
}

.global .content #menu #challenge {
    border-top: none;
}

.global .content #menu #replays {
    margin-top: 20px;
}

.global .content .log {
    flex: 6;
}

#global.tablink .close {
    display: none !important;
}
