.replays {
    display: flex;
    flex-direction: row;
}

.replays .list-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-right: 1px solid var(--current-line);
}

.replays .list-wrapper .list {
    overflow: auto;
    flex: 1;
}

.replays .list-wrapper .list .replay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--current-line);
}

.replays .list-wrapper .list .replay.selected,
.replays .list-wrapper .list .replay:hover {
    background: var(--current-line);
}

.replays .list-wrapper .refresh {
    height: 50px;
    border-top: 1px solid var(--current-line);
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.replays .log {
    overflow: auto;
    flex: 6;
    padding: 20px;
}
