@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

:root {
    --background: #1d1f21;
    --current-line: #282a2e;
    --selection: #373b41;
    --foreground: #c5c8c6;
    --comment: #969896;
    --red: #cc6666;
    --orange: #de935f;
    --yellow: #f0c674;
    --green: #b5bd68;
    --aqua: #8abeb7;
    --blue: #81a2be;
    --purple: #b294bb;
}

button {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: var(--foreground);
    border: 1px solid var(--selection);
    background: var(--current-line);
}

button:hover {
    background: var(--selection);
}

input {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    padding: 5px;
    color: var(--foreground);
    border: 1px solid var(--selection);
    background: var(--current-line);
}

.scrollable {
    scrollbar-color: var(--selection) var(--current-line);
    scrollbar-width: thin;
}

#container {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--foreground);
    background: var(--background);
}

#bar {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background: var(--current-line);
}

#bar #tabs {
    display: flex;
    align-items: flex-end;
    flex: 1;
    margin-left: 20px;
}

#bar #tabs .tablink {
    height: 40px;
    margin-right: 5px;
    border-bottom: none;
    background: var(--current-line);
}

#bar #tabs .tablink.active,
#bar #tabs .tablink:hover {
    background: var(--selection);
}

#bar #tabs .tablink .close {
    display: none;
    margin-left: 10px;
}

#bar #tabs .tablink:hover .close {
    display: inline;
}

#bar #tabs .tablink .close:hover {
    color: red;
}

#bar #login,
#bar #logout {
    display: flex;
    width: 300px;
    margin: 10px;
}

#bar #login .username,
#bar #logout .username {
    flex: 5;
}

#bar #login .username {
    border: 1px solid var(--selection);
    border-right: none;
    background: var(--background);
}

#bar #logout .username {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

#bar #login button,
#bar #logout button {
    flex: 1;
    border: 1px solid var(--selection);
    background: var(--current-line);
}

#bar #login button:hover,
#bar #logout button:hover {
    background: var(--selection);
}

#tab-container {
    overflow: auto;
    flex: 1;
}
