.tab {
    display: none;
    overflow: auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tab.active {
    display: flex;
}

.tab .content {
    display: flex;
    overflow: auto;
    flex: 1;
    flex-direction: row;
}

.tab .content .log {
    display: flex;
    overflow: auto;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    word-wrap: break-word;
}

.tab .content .log .message {
    padding: 5px;
}

.tab .command {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.tab .command .commandline {
    flex: 1;
    padding-left: 15px;
    border: none;
}

.tab .command .send-command {
    width: 80px;
    border: none;
}
