extends ../../common/views/layout

block content
    div(id='container')
        div(id='battles')
            div(id='battle-list', class='scrollable')
            button(id='refresh')='refresh'
        div(id='data', class='scrollable')
        div(id='control')
            div(id='state')
            div(id='controls')
                button(id='back')='<'
                div(id='line')
                button(id='next')='>'