extends ../../common/views/layout

block content
    div(id='container')
        div(id='bar')
            div(id='tabs')
            div(id='login')
                input(class='username', type='text', placeholder='username')
                button='login'
            div(id='logout')
                div(class='username')
                button='logout'
        div(id='tab-container')

    template(id='global-tab')
        div(class='global tab')
            div(class='content')
                div(id='menu')
                    select(id='format')
                        option(value='gen7randombattle')='[Gen 7] Random Battle'
                    button(id='battle')='battle'
                    input(id='challenger', type='text', placeholder='username')
                    button(id='challenge')='challenge'
                    button(id='replays')='replays'
                div(class='log scrollable')
            div(class='command')
                input(class='commandline', type='text', placeholder='enter command...')
                button(class='send-command')='send'

    template(id='battle-tab')
        div(class='battle tab')
            div(class='content')
                div(class='log scrollable')
                div(class='state scrollable')
                div(class='context scrollable')
            div(class='command')
                input(class='commandline', type='text', placeholder='enter command...')
                button(class='send-command')='send'

    template(id='replays-tab')
        div(class='replays tab')
            div(class='list-wrapper')
                div(class='list scrollable')
                button(class='refresh')='refresh'
            div(class='log scrollable')

    template(id='tablink')
        button(class='tablink')
            span(class='title')
            span(class='close')='x'
