:root {
    --lighter: #606060;
    --light: #525252;
    --mid: #414141;
    --dark: #313131;
    --darker: #303030;
    --highlight: #ec625f;
}

body {
    margin: 0;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    background-image: url('../img/noise.png');
    background-repeat: repeat;
}

.info {
    position: relative;
    text-align: center;
    padding: 60px 80px;
    font-family: 'Inconsolata', monospace;
    color: var(--lighter);
    background-color: var(--darker);
}

.info .title {
    color: var(--highlight);
}

.info a {
    text-decoration: none;
    color: var(--lighter);
}

.info a:hover {
    color: var(--highlight);
}

.info ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
