extends ../../common/views/layout

block dependencies
    link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet')

block content
    div(class='container')
        div(class='info')
            div(class='title')
                b='jake.cheek'
            br
            div(class='projects')
                b='projects'
                ul
                    li
                        a(href='/collage')='collage'
                    li
                        a(href='/showdown')='showdown'
            br
            div(class='social-media')
                b='elsewhere'
                ul
                    li
                        a(href='https://rateyourmusic.com/~CaptainMocha')='rateyourmusic'
                    li
                        a(href='https://www.instagram.com/jake.cafe/')='instagram'
