extends ../../common/views/layout

block dependencies
    link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet')

block content
    div(id='dropbox')
        |Drop file(s) here
        form(class='dropbox__form')
            input(type='file', id='dropbox__file', multiple)

    div(id='menu')
        div(class='links' id='base')
            span(id='home')='jake.cafe'
        div(class='links' id='context')
    div(id='container')
