#dropbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.dropbox__form {
    display: none;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background: var(--handle);
    border-bottom: 1px solid var(--border);
    z-index: 1;
    display: flex;
}

#menu .links {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#menu #base.links {
    border-right: 1px solid var(--border);
}

#menu .links span {
    text-decoration: none;
    font-family: sans-serif;
    color: var(--text);
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#menu .links span:hover {
    color: var(--hover-text);
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: 0;
}
