:root {
    --handle: rgba(255, 255, 255, 0.2);
    --border: rgba(0, 0, 0, 0.1);
    --text: rgba(0, 0, 0, 0.2);
    --hover-text: rgba(0, 0, 0, 0.4);
    --transparent: rgba(0, 0, 0, 0);
}

.window {
    position: absolute;
    border: 1px solid var(--transparent);
}

.window:hover {
    border-color: var(--border);
}

.window .decoration {
    display: none;
}

.window:hover .handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background: var(--handle);
    border-bottom: 1px solid var(--border);
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.window .handle .button {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: var(--text);
    transition: font-size 0.1s;
    cursor: pointer;
}

.window .handle .button:hover {
    font-size: 20px;
    color: var(--hover-text);
    transition: font-size 0.1s;
}

.window .content {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
}

.window .content > * {
    font-family: 'Inconsolata', monospace;
    width: 100%;
    height: 100%;
}

.element {
    font-family: 'Inconsolata', monospace;
}

.window:hover .resizers {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.window .resizers .resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    border: 1px solid var(--border);
    z-index: 1;
}

.window .resizers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}

.window .resizers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}

.window .resizers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}

.window .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}
